%link {
  text-decoration: none;
  cursor: pointer;
}

%nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

%subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%сallback-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

%centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button {
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  background-color: $accent-color;
}